/*custom css goes here*/

/* Name: Tarun Rana
Student Id: 300871205
Date: September 30th 2016
app.css file */
body {
    background-color: lightyellow;
}
.project
{float:left}
.banner
{float:left}
.mypic
{float:left;
 height:400px;
 width:auto;
}
.tarun
{margin-left:600px;
     width:500px
}